/* Grundstil für den Körper der Seite */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Stil für den Dunkelmodus */
body.dark-mode {
    background-color: black;
    color: white;
}

/* Stil für den Container */
.container {
    text-align: center; /* Horizontale Ausrichtung des Textes in der Mitte */
    margin-top: 50px; /* Abstand nach oben */
}